/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* @import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css'); */

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.content {
  position: relative;
  z-index: 1;
}

.marquee {
  position: absolute;
  right: -800px;
  left: 0;
  overflow: hidden;
  font-family: "Pridi", sans-serif;
  font-weight: 600;
  font-size: 34px;
  text-transform: uppercase;
  background-image: url(/src/img/elements_vectors.png);
  background-color:#242424;
}

.marquee__inner {
  height: 100vh;
  display: flex;
  transform: rotate(16deg);
}

.marquee__line {
  flex-shrink: 0;
  margin-right: 50px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 2);
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes marqueeLine {
  from {
    transform: translateX(-20%);
  }
  to {
    transform: translateX(-180%);
  }
}
.visually-hidden{
  overflow: hidden;
}
